<template>
  <div>
    <AlbumDetail class="album-detail-comp"/>
  </div>
</template>

<script>
  import AlbumDetail from '../components/AlbumDetail'

  export default {
    components: {
      AlbumDetail
    }
  }
</script>
