<template>
  <v-hover>
    <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2} rounded-card`" height="100%">
      <a :href="link" :title="item.name" @click.prevent="go">
        <v-img :aspect-ratio="1.5" :src="item.image"></v-img>
      </a>
      <v-card-title>
        <v-layout row>
          <v-flex xs12 text-xs-left>
            <div class="headline">
              <a :href="link" :title="item.name" @click.prevent="go">
                {{ item.name }}
              </a>
            </div>
            <span class="grey--text">{{ item.numberOfImages }} photo(s), {{ item.numberOfVideo }} video(s) </span>
            <v-divider class="mt-5"></v-divider>
          </v-flex>
        </v-layout>
      </v-card-title>
      <v-layout text-xs-center wrap row>
        <v-flex xs6>
        </v-flex>
        <v-flex xs6 text-xs-right>
          <v-btn flat icon color="yellow" v-if="item.isFavorite" @click="handleFavoriteAlbum({id: item.id, type: item.type})">
            <v-icon>star</v-icon>
          </v-btn>
          <v-btn flat icon color="black" v-else @click="handleFavoriteAlbum({id: item.id, type: item.type})">
            <v-icon>star_border</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card>
  </v-hover>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'AlbumItem',
  props: ['item'],
  computed: {
    ...mapState('albumdetail', ['lengthAlbum']),
    // link: vm => `/detail/album/${vm.item.id}`,
    link: (res) => {
      return `/detail/album/${res.item.id}`
    },
    numberOfImages: (res) => {
      return res.item.numberOfImages
    }
  },
  methods: {
    ...mapActions('albumlist', ['handleFavoriteAlbum', 'handleUpdateLengthAlbumDetail']),
    ...mapActions('albumdetail', ['handleUpdateCurrAlbumDetail']),
    go() {
      this.handleUpdateLengthAlbumDetail(this.numberOfImages).then(() => {
        this.handleUpdateCurrAlbumDetail(this.item)
        this.$router.push(this.link)
      })
    }
  }
}
</script>
