<template>
  <v-layout row wrap class="pt-4 pb-4">
    <v-flex xs12 d-flex>
      <HeaderDetail />
    </v-flex>
    <v-flex
      xs12 sm6 md4 lg3 pa-2
      class="mb-3"
    >
      <v-hover>
        <v-card slot-scope="{ hover }"
          :class="`elevation-${hover ? 12 : 2} rounded-card`"
          height="100%">
          <CreateAlbumDetail :albumDetail="getAlbumDetail" />
          <v-card-title>
            <v-layout row>
              <v-flex xs12 text-xs-left>
                <div class="headline text-capitalize">add photo</div>
              </v-flex>
            </v-layout>
          </v-card-title>
        </v-card>
      </v-hover>
    </v-flex>
    <v-flex
      xs12 sm6 md4 lg3 pa-2
      class="mb-3"
      v-for="(item) in getAlbumDetail" :key="item.id"
    >
      <ImageItem :item="item" />
    </v-flex>
    <ImageQuickView />
  </v-layout>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import ImageItem from '@/components/ImageItem'
import CreateAlbumDetail from '@/components/CreateAlbumDetail'
import HeaderDetail from '@/components/HeaderDetail'
import ImageQuickView from '@/components/ImageQuickView'

export default {
  name: 'AlbumDetail',
  components: {
    ImageItem,
    CreateAlbumDetail,
    HeaderDetail,
    ImageQuickView
  },
  computed: {
    ...mapState('albumdetail', ['albumDetail']),
    ...mapGetters('albumdetail', ['getAlbumDetail']),
    ...mapGetters('albumlist', ['getLengthAlbumDetail'])
  },
  mounted() {
    if(this.getLengthAlbumDetail < 1) {
      this.$router.push('/')
      return
    }

    this.getData(this.getLengthAlbumDetail)
  },
  methods: {
    ...mapActions('albumdetail', ['getData'])
  }
}
</script>
