<template>
  <v-layout text-xs-center wrap row>
    <v-flex xs12>
      <v-tabs color="grey lighten-3" light slider-color="cyan">
        <v-tab
          v-for="(items, index) in getAlbumAndMedia" :key="index"
          ripple
        >
          {{ items.title }} ( {{ items.data.length }} )
        </v-tab>
        <v-tab-item
          v-for="(items, index) in getAlbumAndMedia" :key="index"
        >
          <v-layout row wrap class="pt-4 pb-4">
            <v-flex
              xs12 sm6 md4 lg3
              class="mb-3 pa-2"
            >
              <v-hover>
                <v-card slot-scope="{ hover }"
                  :class="`elevation-${hover ? 12 : 2} rounded-card`"
                  height="100%">
                  <CreateAlbum :type="index" :length="items.data.length" />
                  <v-card-title>
                    <v-layout row>
                      <v-flex xs12 text-xs-left>
                        <div class="headline text-capitalize">Create new {{ index }}</div>
                      </v-flex>
                    </v-layout>
                  </v-card-title>
                </v-card>
              </v-hover>
            </v-flex>
            <v-flex
              xs12 sm6 md4 lg3
              class="mb-3 pa-2"
              v-for="(item) in items.data" :key="item.id"
            >
              <AlbumItem :item="item" />
            </v-flex>
          </v-layout>
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </v-layout>
</template>

<script>
import ApiService from '@/api'
import { mapActions, mapState, mapGetters } from 'vuex'
import AlbumItem from '@/components/AlbumItem'
import CreateAlbum from '@/components/CreateAlbum'

export default {
  name: 'AlbumList',
  components: {
    AlbumItem,
    CreateAlbum
  },
  computed: {
    ...mapState('albumlist', ['albumList']),
    ...mapGetters('albumlist', ['getAlbumAndMedia'])
  },
  mounted() {
    if(this.getAlbumAndMedia.album.data.length < 1 && this.getAlbumAndMedia.media.data.length < 1) {
      this.getData(ApiService.getRandomArbitrary(5, 20))
    }
  },
  methods: {
    ...mapActions('albumlist', ['getData'])
  }
}
</script>
