<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent transition="dialog-bottom-transition" max-width="1400px">
      <template v-slot:activator="{ on }">
        <v-img :aspect-ratio="1.23" :src="`${publicPath}images/background.jpg`">
          <v-btn flat dark v-on="on" class="create-image">
            <v-icon dark>add_circle_outline</v-icon>
          </v-btn>
        </v-img>
      </template>
      <v-card>
        <v-form v-on:submit.prevent="submitAlbumDetail({images: images, type: 'albumDetail'})">
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="setDefault">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Upload Image</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat type="submit">Save</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-container>
            <v-layout wrap>
              <v-flex xs12 sm8 align-center>
                <v-flex xs12 align-center class="choose-image-wrapper">
                  <v-text-field label="Select Image" prepend-icon='attach_file'>
                  </v-text-field>
                  <input
                    type="file" name="images"
                    @change="onFileChange"
                    xs12 multiple
                    class="v-text-field choose-image" 
                  />
                  <span class="red--text pl-2" v-if="error">Please Attach Image</span>
                </v-flex>
              </v-flex>
              <v-container grid-list-sm fluid>
                <v-layout row wrap v-if="isAttach">
                  <v-flex d-flex xs12 sm6 md4 lg3 v-for="(image, index) in images" :key="index">
                    <v-card flat tile class="d-flex">
                      <v-img
                        :src="image"
                        aspect-ratio="1"
                        class="grey lighten-2"
                      >
                        <template v-slot:placeholder>
                          <v-layout fill-height align-center justify-center ma-0>
                            <v-progress-circular indeterminate color="grey lighten-5">
                            </v-progress-circular>
                          </v-layout>
                        </template>
                      </v-img>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-layout>
          </v-container>
        </v-form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'CreateAlbumDetail',
  data() {
    return {
      dialog: false,
      isAttach: false,
      publicPath: process.env.BASE_URL,
      error: false
    }
  },
  props: [
    'type',
    'albumDetail'
  ],
  computed: {
    ...mapState('images', ['images'])
  },
  mounted() {},
  methods: {
    ...mapActions('images', ['getImagesDetail', 'handleCreateAlbumDetail', 'clearAlbumState', 'clearAlbumDetailState']),
    ...mapActions('albumdetail', ['handleUpdateAlbumDetail', 'updateLengthAlbumDetailAfterCreate']),
    ...mapActions('albumlist', ['handleUpdateLengthAlbumDetail']),
    onFileChange(e) {
      // multi image
      let files = e.target.files,
          images = []

      if(!files) {
        return
      }

      this.isAttach = true
      for (let i=0; i < files.length; i++){
        if(!files[i] || !files[i].type.match('image.*')) {
          this.isAttach = false
          this.error = true
          return 
        }

        this.error = false
        let reader = new FileReader()
        reader.onload = function(e) {
          let temp = {
            id: i,
            name: files[i].name,
            src: e.target.result,
            description: '',
            isFavorite: false,
            type: 'albumDetail'
          }

          images.push(temp)
        }
        reader.readAsDataURL(files[i])
      }
      this.getImagesDetail(images)
    },
    submitAlbumDetail(data) {
      if(!this.isAttach) {
        this.error = true
        return
      }

      let that = this,
          fakeData = {
            newData: data,
            albumDetail: this.albumDetail
          }

      that.handleCreateAlbumDetail(fakeData).then((response) => {
        that.handleUpdateAlbumDetail(response).then(() => {
          that.updateLengthAlbumDetailAfterCreate().then((lengthDetail) => {
            this.handleUpdateLengthAlbumDetail(lengthDetail)
            that.dialog = false
            that.isAttach = false
            that.clearAlbumDetailState()
          })
        })
      })
    },
    setDefault() {
      this.dialog = false
      this.isAttach = false
      this.error = false
      this.clearAlbumDetailState()
    }
  }
}
</script>
