<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent transition="dialog-bottom-transition" max-width="1400px">
      <template v-slot:activator="{ on }">
        <v-img :aspect-ratio="1.5" :src="`${publicPath}images/background.jpg`">
          <v-btn flat dark v-on="on" class="create-image" @click.prevent="setDefault">
            <v-icon dark>add_circle_outline</v-icon>
          </v-btn>
        </v-img>
      </template>
      <v-card>
        <v-form v-on:submit.prevent="submitAlbum(album, 'album')">
          <v-toolbar dark color="primary">
            <v-toolbar-title class="text-capitalize">Create New {{ type }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon dark @click="setDefault">
              <v-icon>close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-container>
            <v-layout wrap>
              <v-flex xs12 sm8 align-center>
                <v-flex xs12 align-center class="choose-image-wrapper">
                  <v-text-field
                    label="Select Image"
                    prepend-icon='attach_file'
                  >
                  </v-text-field>
                  <input
                    type="file"
                    name="images"
                    @change="onFileChange"
                    xs12
                    class="v-text-field choose-image"
                  />
                  <span class="red--text pl-2" v-if="error">Please Attach Image</span>
                </v-flex>
                <v-container grid-list-sm fluid>
                  <v-layout row wrap v-if="isAttach">
                    <v-flex d-flex xs12 sm6 md4>
                      <v-card flat tile class="d-flex">
                        <v-img
                          :src="album.image"
                          aspect-ratio="1"
                          class="grey lighten-2"
                        >
                          <template v-slot:placeholder>
                            <v-layout fill-height align-center justify-center ma-0>
                              <v-progress-circular indeterminate color="grey lighten-5">
                              </v-progress-circular>
                            </v-layout>
                          </template>
                        </v-img>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field
                  v-model="album.name"
                  label="Name"
                  v-validate="'required'"
                  :error-messages="errors.collect('name')"
                  data-vv-name="name"
                  required
                ></v-text-field>
                <v-textarea
                  solo
                  v-model="album.description"
                  name="description"
                ></v-textarea>
                <v-layout row wrap>
                  <v-flex xs4 d-flex>
                    <v-btn class="rounded-btn text-capitalize" outline color="grey" @click="setDefault">Cancel</v-btn>
                  </v-flex>
                  <v-flex xs4 d-flex>
                    <v-btn class="rounded-btn text-capitalize" color="success" type="submit">Save</v-btn>
                  </v-flex>  
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import ApiService from '@/api'
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import { mapState, mapActions } from 'vuex'

Vue.use(VeeValidate)

export default {
  name: 'CreateAlbum',
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      dialog: false,
      isAttach: false,
      isValid: true,
      publicPath: process.env.BASE_URL,
      error: false
    }
  },
  props: [
    'type',
    'length'
  ],
  computed: {
    ...mapState('images', ['album'])
  },
  mounted() {},
  methods: {
    ...mapActions('images', ['getImageAlbum', 'handleCreateAlbum', 'clearAlbumState']),
    ...mapActions('albumlist', ['handleUpdateAlbum']),
    onFileChange(e) {
      // single image
      let file = e.target.files[0],
          that = this

      if(!file || !file.type.match('image.*')) {
        that.error = true
        that.isAttach = false
        that.album.image = ''
        return
      }

      that.error = false
      that.isAttach = true
      let reader = new FileReader()
      reader.onload = function(e) {
        that.getImageAlbum(e.target.result)
      }

      reader.readAsDataURL(file)
    },
    submitAlbum(album) {
      if(!this.isAttach) {
        this.error = true
        return
      }

      let that = this
      album.id = that.length
      album.isFavorite = false
      album.type = that.type
      album.numberOfImages = ApiService.getRandomArbitrary(5, 20)
      album.numberOfVideo = ApiService.getRandomArbitrary(5, 20)
      that.$validator.validateAll().then((isValid) => {
        if(isValid) {
          that.handleCreateAlbum(album).then((response) => {
            let data = {
              album : response,
              type: that.type
            }

            that.handleUpdateAlbum(data).then(() => {
              that.dialog = false
              that.isAttach = false
              that.clearAlbumState()
            })
          })
        }
      })
    },
    setDefault() {
      this.dialog = false
      this.clearAlbumState()
      this.errors.clear()
      this.isAttach = false
      this.error = false
    }
  }
}
</script>
