<template>
  <v-layout class="header-detail mb-3 pt-3 pb-3">
    <v-flex xs12 md6>
      <div class="header-info">
        <div class="headline">{{ getCurrAlbumDetail.name }}</div>
        <p class="grey--text">
          {{ getCurrAlbumDetail.description }}
          <a href="#">
            <span>See More</span>
          </a>
        </p>
      </div>
    </v-flex>
    <v-flex xs12 md6 text-xs-right>
      <v-btn flat icon color="yellow" v-if="getCurrAlbumDetail.isFavorite" @click="handleFavoriteAlbum({id: getCurrAlbumDetail.id, type: getCurrAlbumDetail.type})">
        <v-icon>star</v-icon>
      </v-btn>
      <v-btn flat icon color="black" v-else @click="handleFavoriteAlbum({id: getCurrAlbumDetail.id, type: getCurrAlbumDetail.type})">
        <v-icon>star_border</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'HeaderDetail',
  computed: {
    ...mapGetters('albumdetail', ['getCurrAlbumDetail'])
  },
  methods: {
    ...mapActions('albumlist', ['handleFavoriteAlbum'])
  }
}
</script>
