<template>
  <v-hover>
    <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2} rounded-card album-detail`">
      <a href="#" :title="item.name" @click.prevent="quickView(item)">
        <v-img :aspect-ratio="1" :src="item.image"></v-img>
      </a>
      <v-layout text-xs-center wrap row class="detail-action">
        <v-flex xs6 text-xs-left>
          <v-btn flat icon color="red" v-if="item.isFavorite"
            @click="handleFavoriteImage({id: item.id, type: item.type})">
            <v-icon>favorite</v-icon>
          </v-btn>
          <v-btn flat icon color="white" v-else
            @click="handleFavoriteImage({id: item.id, type: item.type})">
            <v-icon>favorite_border</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs6>
        </v-flex>
      </v-layout>
    </v-card>
  </v-hover>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ImageItem',
  props: ['item'],
  computed: {},
  methods: {
    ...mapActions('albumdetail', ['handleFavoriteImage', 'handleShowHideDialog', 'handleSetCurrImageLightBox']),
    quickView(image) {
      this.handleSetCurrImageLightBox(image).then(() => {
        this.handleShowHideDialog()
      })
    }
  }
}
</script>
