<template>
  <v-layout justify-center>
    <v-dialog v-model="getDialogLightBoxStatus" transition="dialog-bottom-transition" persistent max-width="1400px">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>Image Infomations</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="this.handleShowHideDialog">
              <v-icon>close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container grid-list-sm fluid>
          <v-layout row wrap>
            <v-flex d-flex xs12 sm8>
              <v-layout row wrap text-xs-center class="lightbox-content">
                <v-flex d-flex xs12>
                  <v-card flat tile class="d-flex">
                    <v-img
                      :src="getCurrImageLightBox.image"
                      aspect-ratio="1.5"
                      class="grey lighten-2"
                    >
                    </v-img>
                  </v-card>
                </v-flex>
                <v-flex d-flex xs12 class="lightbox-nav">
                  <v-btn class="lightbox-arrow prev rounded-btn" @click="handleUpdateLightBox(getCurrImageLightBox.id + 1)" v-if="getCurrImageLightBox.id + 1 < getLengthAlbumDetail">
                    <v-icon>keyboard_arrow_left</v-icon>
                  </v-btn>
                  <v-btn class="lightbox-arrow next rounded-btn" @click="handleUpdateLightBox(getCurrImageLightBox.id - 1)" v-if="getCurrImageLightBox.id !== 0">
                    <v-icon>keyboard_arrow_right</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex d-flex xs12 sm4 pl-5 class="image-info">
              <v-form>
                <v-text-field
                  d-flex
                  xs12
                  label="Name"
                  v-model="getCurrImageLightBox.name"
                ></v-text-field>
                <v-textarea
                  solo
                  rows=10
                  name="description"
                  v-model="getCurrImageLightBox.description"
                ></v-textarea>
                <v-layout row wrap>
                  <v-flex xs4 d-flex>
                    <v-btn class="rounded-btn text-capitalize" outline color="grey" @click="handleUpdateImageDetail(getCurrImageLightBox)">Cancel</v-btn>
                  </v-flex>
                  <v-flex xs4 d-flex>
                    <v-btn class="rounded-btn text-capitalize" color="success" @click="handleUpdateImageDetail(getCurrImageLightBox)">Save</v-btn>
                  </v-flex>  
                </v-layout>
              </v-form>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'ImageQuickView',
  components: {},
  computed: {
    ...mapState('albumdetail', ['albumDetail', 'currAlbumDetail']),
    ...mapGetters('albumdetail', ['getDialogLightBoxStatus', 'getCurrImageLightBox']),
    ...mapGetters('albumlist', ['getLengthAlbumDetail'])
  },
  mounted() {},
  methods: {
    ...mapActions('albumdetail', ['handleShowHideDialog', 'handleUpdateLightBox', 'updateImageDetail']),
    handleUpdateImageDetail(imageInfo) {
      this.updateImageDetail(imageInfo).then(() => {
        this.handleShowHideDialog()
      })
    }
  }
}
</script>
