a {
  text-decoration: none;
}

.rounded-card {
  border-radius: 10px;

  .v-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .headline {
    a {
      color: #000;
    }
  }
}

.choose-image-wrapper {
  position: relative;

  .choose-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.album-detail {
  position: relative;

  &.rounded-card {
    .v-image {
      border-radius: 10px;
    }
  }

  .detail-action {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.5);

    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

.create-image {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
  .v-icon {
    font-size: 48px;
  }
}

.album-detail-comp {
  .v-card__title {
    padding: 22px 16px;
  }
}

.header-detail {
  position: relative;
  background: white;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 10%;
    border-bottom: 3px solid #00bcd4;
  }

  .header-info {
    padding: 0 20px;
  }
}

.lightbox-content {
  position: relative;

  .lightbox-nav {
    position: absolute;
    top: 45%;
    width: 100%;
    transform: translateY(-45%);
    
    .lightbox-arrow {
      min-width: 50px;
      min-height: 50px;
      margin: 5px;
      padding: 0;

      @media only screen and (max-width: 768px) {
        min-width: 36px;
        min-height: 36px;
      }

      &.prev {
        position: absolute;
        left: -25px;

        @media only screen and (max-width: 768px) {
          left: -18px;
        }
      }

      &.next {
        position: absolute;
        right: -25px;

        @media only screen and (max-width: 768px) {
          right: -18px;
        }
      }
    }
  }
}

.rounded-btn {
  border-radius: 20px;

  &.lightbox-arrow {
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .pl-5 {
    &.image-info {
      padding-left: 0 !important
    }
  }
}