<template>
  <v-app>
    <v-container class="grey lighten-3">
      <router-view/>
      <Footer />
    </v-container>
  </v-app>
</template>

<script>

import Footer from '@/components/Footer'

export default {
  name: 'App',
  components: {
    Footer
  },
  data () {
    return {
      //
    }
  }
}
</script>

<style lang="scss">
  @import "./assets/styles.scss";
</style>